@model DeterminantCalculationTree
@{
    ViewData["Title"] = "Вычисление определителя матрицы";
}

<div>
    <math>
        <mrow>
            <mrow>
                <mo>|</mo>
                <math-matrix data="Model.Matrix" />
                <mo>|</mo>
            </mrow>
            <mo>=</mo>
            <mn>@Model.Determinant</mn>
        </mrow>
    </math>
</div>
<p>Решение:</p>
@await Html.PartialAsync("DeterminantCalculation", Model) 