@{
    ViewData["Title"] = "Вычисление определителя матрицы";
}

<h1>Вычисление определителя матрицы (теорема Лапласа)</h1>
<form asp-action="LaplaceExpansionResult" method="post">
    <div class="form-group">
        <label for="matrixSize">Размер матрицы:</label>
        <select id="matrixSize" name="matrixSize" class="custom-select">
            <option value="2">2x2</option>
            <option value="3" selected>3x3</option>
            <option value="4">4x4</option>
            <option value="5">5x5</option>
        </select>
    </div>
    <div id="matrix" class="form-group"></div>
    <input type="submit" class="btn btn-primary" value="Вычислить" />
</form>

@section Scripts
{
    <partial name="_GlobalizationScripts" />
    <partial name="_ValidationScripts" />
    <script>
        $(function () {
            $("#matrix").html(renderMatrixInput(3, 3, "matrixData"));

            $("#matrixSize").change(function () {
                $("#matrix").empty()
                    .html(renderMatrixInput($(this).val(), $(this).val(), "matrixData"));           
            });

            $("form").validate({
                errorPlacement: function () { }
            });

            $("[name^=matrixData]").each(function () {
                $(this).rules("add", {
                    required: true,
                    number: true
                });
            });
        });
    </script>
}