@{
    ViewData["Title"] = "Матричный калькулятор";
}

<h1>Онлайн-калькуляторы</h1>
<div>
    <p>Вычисление определителя матрицы:</p>
    <ul>
        <li>
            <a asp-controller="DeterminantCalculation" asp-action="LaplaceExpansion">
                С помощью теоремы Лапласа
            </a>
        </li>
        <li>
            <a asp-controller="DeterminantCalculation" asp-action="GaussianElimination">
                Методом Гаусса
            </a>
        </li>
    </ul>
</div>