@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Матричный калькулятор"];
}

<h1>@Localizer["Главная"]</h1>
<div>
    <ul>
        <li>
            <a asp-controller="Home" asp-action="Calculators">
                @Localizer["Калькуляторы"]
            </a>
        </li>
    </ul>
</div>