@{
    ViewData["Title"] = "Матричный калькулятор";
}

<h1>Главная</h1>
<div>
    <ul>
        <li>
            <a asp-controller="Home" asp-action="Calculators">
                Онлайн-калькуляторы
            </a>
        </li>
    </ul>
</div>