@{
    ViewData["Title"] = "Матричный калькулятор";
}

<h1>Матричный калькулятор</h1>
<div>
    <p>Калькуляторы:</p>
    <ul>
        <li>
            <a asp-controller="MatrixCalculator" asp-action="LaplaceExpansion">
                Вычисление определителя матрицы (теорема Лапласа)
            </a>
        </li>
    </ul>
</div>