@{
    ViewData["Title"] = "Матричный калькулятор";
}

<h1>Матричный калькулятор</h1>
<div>
    <h4>Калькуляторы:</h4>
    <ul>
        @foreach (var pair in MenuProvider.GetCalculators())
        {
            <li>
                <a asp-controller="@pair.Key.Controller" asp-action="@pair.Key.Action">
                    @pair.Value
                </a>
            </li>
        }
    </ul>
</div>