@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using MatrixOnlineCalculator.ViewModels.DeterminantCalculation
@using MatrixOnlineCalculator.Models.Options

@model DeterminantCalculationResultViewModel

@inject IOptions<MathFormatOptions> MathFormatOptions
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Вычисление определителя матрицы"];
    int precision = MathFormatOptions.Value.DecimalPrecision;
}

<h1>@Localizer["Вычисление определителя матрицы"] (@Localizer[Model.MethodName])</h1>
<p>
    <math>
        <mrow>
            <mo>|</mo>
            <math-matrix data="Model.DetailedSolution.Matrix" />
            <mo>|</mo>
        </mrow>
        <mo>=</mo>
        <math-number value="Model.DetailedSolution.Determinant"
                     precision="precision" />
    </math>
</p>

<p>@Localizer["Подробное решение:"]</p>
@await Html.PartialAsync(Model.DetailedSolutionViewName, Model.DetailedSolution)

@section Scripts
{
    <partial name="_GlobalizationScripts" />
}