.matrix {
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding: 3px 8px;
    border-radius: 8px / 50%;
    display: inline-block;
}

.matrix input {
    width: 60px;
    text-align: center;
}

.multilevelList {
    counter-reset: itemNumber;
    list-style-type: none;
}

.multilevelList li {
    counter-increment: itemNumber;
}

.multilevelList li::marker {
    content: counters(itemNumber, ".") ") ";
}

.error {
    color: #b94a48;
}

input.error {
    border: 1px solid #b94a48;
}